{
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "customPath": ".\/tools\/phpunit.phar"
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}